@use 'assets/styles/mixins' as mix;

.product-card {
  $this: &;

  height: 100%;

  &_orientation {
    &_vertical {
      display: flex;
      flex-direction: column;
    }

    &_horizontal {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto 1fr auto;
      column-gap: var(--spacing-x3);

      #{$this}__img-wrapper {
        grid-row: 1 / 4;
        height: 100%;
      }

      #{$this}__header,
      #{$this}__price,
      #{$this}__footer {
        grid-column: 2 / 4;
      }

      #{$this}__header {
        grid-row: 1 / 2;
        margin-block-start: 0;
      }

      #{$this}__price {
        grid-row: 2 / 3;
      }

      #{$this}__footer {
        grid-row: 3 / 4;
      }

      @include mix.media('m') {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    order: 2;
    margin-block: var(--spacing-x3);
  }

  &__heading-link {
    order: 2;
    min-height: 48px;
    margin-block-start: var(--spacing-x1);

    @include mix.transition(color);

    @include mix.hover {
      color: var(--brand-500);
    }

    &:focus {
      outline-color: var(--brand-500);
    }
  }

  &__heading {
    @include mix.line-clamp(2);
  }

  &__subheading {
    order: 1;
    color: var(--neutral-600);
  }

  &__img-wrapper {
    position: relative;
    overflow: hidden;
    order: 1;
    width: 100%;
    aspect-ratio: 8 / 9;
  }

  &__img-inner {
    position: relative;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(var(--neutral-900-rgb), 0.08);
    }
  }

  &__img {
    object-fit: cover;
  }

  &__badge {
    position: absolute;
    z-index: 1;
    inset-block-start: 10%;
    inset-inline-start: -30%;
    width: 100%;
    transform: rotate(-45deg) translateY(20%);
  }

  &__price {
    order: 4;
    margin-block-start: auto;
  }

  &__footer {
    order: 5;
    margin-block-start: var(--spacing-x3);
  }

  &__button {
    width: 100%;

    ::ng-deep {
      > .button {
        width: 100%;
      }
    }
  }
}
