@use 'assets/styles/mixins' as mix;

.product-detail {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x3);
  height: 100%;
  padding-block-start: var(--spacing-x20);

  &__inner {
    order: 2;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    gap: var(--spacing-x12);
    height: 100%;

    @include mix.media('l') {
      grid-template-columns: 1fr;
    }
  }

  &__img,
  &__content {
    border: 2px solid var(--neutral-900);
  }

  &__back-button {
    order: 1;
  }
}
