<app-ui-kit-row [title]="'Size Large'" [direction]="'col'">
  <div class="button-demo__wrapper">
    <app-button class="button-demo__button" [size]="'l'">Contained</app-button>

    <app-button
      class="button-demo__button"
      [size]="'l'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Contained</app-button
    >

    <app-button class="button-demo__button" [size]="'l'" [icon]="'arrow-forward'"
      >Contained</app-button
    >

    <app-button class="button-demo__button" [size]="'l'" [loading]="true">Contained</app-button>

    <app-button class="button-demo__button" [size]="'l'" [disabled]="true">Contained</app-button>
  </div>

  <div class="button-demo__wrapper">
    <app-button class="button-demo__button" [variant]="'outlined'" [size]="'l'"
      >Outlined</app-button
    >

    <app-button
      class="button-demo__button"
      [variant]="'outlined'"
      [size]="'l'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Outlined</app-button
    >

    <app-button
      class="button-demo__button"
      [variant]="'outlined'"
      [size]="'l'"
      [icon]="'arrow-forward'"
      >Outlined</app-button
    >

    <app-button class="button-demo__button" [variant]="'outlined'" [size]="'l'" [loading]="true"
      >Outlined</app-button
    >

    <app-button class="button-demo__button" [variant]="'outlined'" [size]="'l'" [disabled]="true"
      >Outlined</app-button
    >
  </div>

  <div class="button-demo__wrapper">
    <app-button class="button-demo__button" [variant]="'text'" [size]="'l'">Text</app-button>

    <app-button
      class="button-demo__button"
      [variant]="'text'"
      [size]="'l'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Text</app-button
    >

    <app-button class="button-demo__button" [variant]="'text'" [size]="'l'" [icon]="'arrow-forward'"
      >Text</app-button
    >

    <app-button class="button-demo__button" [variant]="'text'" [size]="'l'" [loading]="true"
      >Text</app-button
    >

    <app-button class="button-demo__button" [variant]="'text'" [size]="'l'" [disabled]="true"
      >Text</app-button
    >
  </div>
</app-ui-kit-row>

<app-ui-kit-row [title]="'Size Medium'" [direction]="'col'">
  <div class="button-demo__wrapper">
    <app-button class="button-demo__button">Contained</app-button>

    <app-button class="button-demo__button" [icon]="'arrow-back'" [iconPlacement]="'start'"
      >Contained</app-button
    >

    <app-button class="button-demo__button" [icon]="'arrow-forward'">Contained</app-button>

    <app-button class="button-demo__button" [loading]="true">Contained</app-button>

    <app-button class="button-demo__button" [disabled]="true">Contained</app-button>
  </div>

  <div class="button-demo__wrapper">
    <app-button class="button-demo__button" [variant]="'outlined'">Outlined</app-button>

    <app-button
      class="button-demo__button"
      [variant]="'outlined'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Outlined</app-button
    >

    <app-button class="button-demo__button" [variant]="'outlined'" [icon]="'arrow-forward'"
      >Outlined</app-button
    >

    <app-button class="button-demo__button" [variant]="'outlined'" [loading]="true"
      >Outlined</app-button
    >

    <app-button class="button-demo__button" [variant]="'outlined'" [disabled]="true"
      >Outlined</app-button
    >
  </div>

  <div class="button-demo__wrapper">
    <app-button class="button-demo__button" [variant]="'text'">Text</app-button>

    <app-button
      class="button-demo__button"
      [variant]="'text'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Text</app-button
    >

    <app-button class="button-demo__button" [variant]="'text'" [icon]="'arrow-forward'"
      >Text</app-button
    >

    <app-button class="button-demo__button" [variant]="'text'" [loading]="true">Text</app-button>

    <app-button class="button-demo__button" [variant]="'text'" [disabled]="true">Text</app-button>
  </div>
</app-ui-kit-row>

<app-ui-kit-row [title]="'Size Small'" [direction]="'col'">
  <div class="button-demo__wrapper">
    <app-button class="button-demo__button" [size]="'s'">Contained</app-button>

    <app-button
      class="button-demo__button"
      [size]="'s'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Contained</app-button
    >

    <app-button class="button-demo__button" [size]="'s'" [icon]="'arrow-forward'"
      >Contained</app-button
    >

    <app-button class="button-demo__button" [size]="'s'" [loading]="true">Contained</app-button>

    <app-button class="button-demo__button" [size]="'s'" [disabled]="true">Contained</app-button>
  </div>

  <div class="button-demo__wrapper">
    <app-button class="button-demo__button" [variant]="'outlined'" [size]="'s'"
      >Outlined</app-button
    >

    <app-button
      class="button-demo__button"
      [variant]="'outlined'"
      [size]="'s'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Outlined</app-button
    >

    <app-button
      class="button-demo__button"
      [variant]="'outlined'"
      [size]="'s'"
      [icon]="'arrow-forward'"
      >Outlined</app-button
    >

    <app-button class="button-demo__button" [variant]="'outlined'" [size]="'s'" [loading]="true"
      >Outlined</app-button
    >

    <app-button class="button-demo__button" [variant]="'outlined'" [size]="'s'" [disabled]="true"
      >Outlined</app-button
    >
  </div>

  <div class="button-demo__wrapper">
    <app-button class="button-demo__button" [variant]="'text'" [size]="'s'">Text</app-button>

    <app-button
      class="button-demo__button"
      [variant]="'text'"
      [size]="'s'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Text</app-button
    >

    <app-button class="button-demo__button" [variant]="'text'" [size]="'s'" [icon]="'arrow-forward'"
      >Text</app-button
    >

    <app-button class="button-demo__button" [variant]="'text'" [size]="'s'" [loading]="true"
      >Text</app-button
    >

    <app-button class="button-demo__button" [variant]="'text'" [size]="'s'" [disabled]="true"
      >Text</app-button
    >
  </div>
</app-ui-kit-row>

<app-ui-kit-row [title]="'Color Dark'" [direction]="'col'">
  <div class="button-demo__wrapper">
    <app-button class="button-demo__button" [color]="'dark'">Contained</app-button>

    <app-button
      class="button-demo__button"
      [color]="'dark'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Contained</app-button
    >

    <app-button class="button-demo__button" [color]="'dark'" [icon]="'arrow-forward'"
      >Contained</app-button
    >

    <app-button class="button-demo__button" [color]="'dark'" [loading]="true">Contained</app-button>

    <app-button class="button-demo__button" [color]="'dark'" [disabled]="true"
      >Contained</app-button
    >
  </div>

  <div class="button-demo__wrapper">
    <app-button class="button-demo__button" [variant]="'outlined'" [color]="'dark'"
      >Outlined</app-button
    >

    <app-button
      class="button-demo__button"
      [variant]="'outlined'"
      [color]="'dark'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Outlined</app-button
    >

    <app-button
      class="button-demo__button"
      [variant]="'outlined'"
      [color]="'dark'"
      [icon]="'arrow-forward'"
      >Outlined</app-button
    >

    <app-button class="button-demo__button" [variant]="'outlined'" [color]="'dark'" [loading]="true"
      >Outlined</app-button
    >

    <app-button
      class="button-demo__button"
      [variant]="'outlined'"
      [color]="'dark'"
      [disabled]="true"
      >Outlined</app-button
    >
  </div>

  <div class="button-demo__wrapper">
    <app-button class="button-demo__button" [variant]="'text'" [color]="'dark'">Text</app-button>

    <app-button
      class="button-demo__button"
      [variant]="'text'"
      [color]="'dark'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Text</app-button
    >

    <app-button
      class="button-demo__button"
      [variant]="'text'"
      [color]="'dark'"
      [icon]="'arrow-forward'"
      >Text</app-button
    >

    <app-button class="button-demo__button" [variant]="'text'" [color]="'dark'" [loading]="true"
      >Text</app-button
    >

    <app-button class="button-demo__button" [variant]="'text'" [color]="'dark'" [disabled]="true"
      >Text</app-button
    >
  </div>
</app-ui-kit-row>

<app-ui-kit-row [title]="'Color Light'" [direction]="'col'" [color]="'dark'">
  <div class="button-demo__wrapper">
    <app-button class="button-demo__button" [color]="'light'">Contained</app-button>

    <app-button
      class="button-demo__button"
      [color]="'light'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Contained</app-button
    >

    <app-button class="button-demo__button" [color]="'light'" [icon]="'arrow-forward'"
      >Contained</app-button
    >

    <app-button class="button-demo__button" [color]="'light'" [loading]="true"
      >Contained</app-button
    >

    <app-button class="button-demo__button" [color]="'light'" [disabled]="true"
      >Contained</app-button
    >
  </div>

  <div class="button-demo__wrapper">
    <app-button class="button-demo__button" [variant]="'outlined'" [color]="'light'"
      >Outlined</app-button
    >

    <app-button
      class="button-demo__button"
      [variant]="'outlined'"
      [color]="'light'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Outlined</app-button
    >

    <app-button
      class="button-demo__button"
      [variant]="'outlined'"
      [color]="'light'"
      [icon]="'arrow-forward'"
      >Outlined</app-button
    >

    <app-button
      class="button-demo__button"
      [variant]="'outlined'"
      [color]="'light'"
      [loading]="true"
      >Outlined</app-button
    >

    <app-button
      class="button-demo__button"
      [variant]="'outlined'"
      [color]="'light'"
      [disabled]="true"
      >Outlined</app-button
    >
  </div>

  <div class="button-demo__wrapper">
    <app-button class="button-demo__button" [variant]="'text'" [color]="'light'">Text</app-button>

    <app-button
      class="button-demo__button"
      [variant]="'text'"
      [color]="'light'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Text</app-button
    >

    <app-button
      class="button-demo__button"
      [variant]="'text'"
      [color]="'light'"
      [icon]="'arrow-forward'"
      >Text</app-button
    >

    <app-button class="button-demo__button" [variant]="'text'" [color]="'light'" [loading]="true"
      >Text</app-button
    >

    <app-button class="button-demo__button" [variant]="'text'" [color]="'light'" [disabled]="true"
      >Text</app-button
    >
  </div>
</app-ui-kit-row>
