@let sort = _catalogService.sort();
@let limit = _catalogService.limit();
@let isCatalogLoading = _isCatalogLoading();
@let areProductsLoading = _catalogService.loading().products;

<ng-template #toolbar>
  <app-catalog-toolbar
    [selectedSortValue]="sort ? [sort] : []"
    [selectedPerPageValue]="limit ? [limit] : []"
    (changeSelectedSortValue)="_catalogService.changeSort($event)"
    (changeSelectedPerPageValue)="_catalogService.changeLimit($event)"
  />
</ng-template>

<ng-template #filters>
  <app-catalog-filters
    class="catalog__filters"
    [groups]="isCatalogLoading ? _filtersSkeleton() : _catalogService.filters()"
    [checkedByGroup]="_catalogService.selectedFilters()"
    [loading]="isCatalogLoading || _catalogService.loading().filters"
    (checkedChange)="_catalogService.changeFilters($event)"
    (resetClick)="_catalogService.resetFilters()"
  />
</ng-template>

<div class="catalog container">
  <aside class="catalog__aside">
    <ng-container [ngTemplateOutlet]="filters" />
  </aside>

  <div>
    <div class="catalog__grid-header">
      <app-skeleton [loading]="isCatalogLoading || areProductsLoading">
        <p>{{ _totalCountLabel() }}</p>
      </app-skeleton>

      <div class="catalog__toolbar-wrapper">
        <ng-container [ngTemplateOutlet]="toolbar" />
      </div>

      <app-button
        class="catalog__toggle-button"
        [variant]="'text'"
        [size]="'s'"
        [color]="'dark'"
        [icon]="'page-info'"
        [iconPlacement]="'start'"
        (click)="_toggleDrawer()"
      >
        {{ _content.drawer.toggleButton }}
      </app-button>
    </div>

    <app-catalog-grid
      class="catalog__grid"
      [products]="isCatalogLoading ? _productsSkeleton() : _catalogService.products()"
      [loading]="isCatalogLoading || areProductsLoading"
    />

    <app-skeleton class="catalog__pagination" [loading]="isCatalogLoading || areProductsLoading">
      @if (_catalogService.totalPageCount() > 1) {
        <app-pagination
          [current]="_catalogService.page()"
          [pageSize]="_pageSize()"
          [total]="_catalogService.total()"
          (pageChange)="_changePage($event)"
        />
      }
    </app-skeleton>
  </div>
</div>

<app-drawer class="catalog__drawer" [isOpen]="_isDrawerOpen()" (closed)="_uiService.closeDrawer()">
  <ng-container [ngTemplateOutlet]="toolbar" />

  <ng-container [ngTemplateOutlet]="filters" />

  <app-icon-button
    class="catalog__drawer-close-button"
    [label]="_content.drawer.closeButtonLabel"
    [icon]="'close'"
    [tooltipColor]="'light'"
    [tooltipPosition]="'inline-start'"
    (click)="_toggleDrawer()"
  />
</app-drawer>
