@let computedIcon = icon();
@let computedLoading = loading();

<button
  class="text-sm button button_variant_{{ variant() }} button_size_{{ size() }} button_color_{{
    color()
  }}"
  [class.button_loading]="computedLoading"
  [type]="type()"
  [ariaBusy]="computedLoading"
  [ariaDisabled]="computedLoading"
  [attr.data-testid]="_testIds.root"
  [disabled]="disabled()"
>
  <span
    class="button__content"
    [class.button__content_icon-placement_start]="computedIcon && iconPlacement() === 'start'"
    [attr.data-testid]="_testIds.content"
  >
    <ng-content />

    @if (computedIcon) {
      <app-icon [name]="computedIcon" [size]="'s'" />
    }
  </span>

  @if (computedLoading) {
    <app-spin class="button__loader" size="s" color="light" [attr.data-testid]="_testIds.loader" />
  }
</button>
