.carousel-demo {
  display: flex;
  flex-direction: column;

  &__example {
    width: min(100%, 40rem);
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    margin-block-end: var(--spacing-x3);
  }

  &__carousel-buttons {
    display: flex;
    gap: var(--spacing-x2);
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 12rem;
    padding: var(--spacing-x6);
    border: 1px solid var(--neutral-300);
    border-radius: var(--border-radius-l);
    background-color: var(--neutral-50);
  }

  &__slide-label {
    color: var(--neutral-700);
  }
}
