@let resultList = _displayedResultList();

<div class="search-widget">
  <div class="search-widget__header">
    <form class="search-widget__form" role="search">
      <app-input
        [autofocus]="_shouldAutofocus()"
        [placeholder]="_data.placeholder"
        [size]="'l'"
        [formField]="_searchForm.query"
      />

      <p
        class="search-widget__total-count text-sm"
        [class.search-widget__total-count_visible]="_totalCount() > 0"
      >
        {{ _totalCountLabel() }}
      </p>
    </form>
  </div>

  <div class="search-widget__body">
    @if (resultList !== null && resultList.length > 0) {
      <ul class="search-widget__product-list">
        @for (product of resultList; track product.id) {
          <li>
            <app-product-card
              [id]="product.id"
              [orientation]="'horizontal'"
              [heading]="product.heading"
              [subheading]="product.subheading"
              [img]="product.img"
              [currentPrice]="product.currentPrice"
              [oldPrice]="product.oldPrice"
              [discount]="product.discount"
              [count]="product.count"
              [sku]="product.sku"
              [detailsLink]="`${_routes.catalog}/${product.id}`"
              [skeletonTheme]="'light'"
              [loading]="_isSearching()"
            />
          </li>
        }
      </ul>
    } @else if (resultList !== null && resultList.length === 0) {
      <app-empty
        class="search-widget__empty"
        [title]="_data.emptyState.title"
        [description]="_data.emptyState.description"
      />
    }
  </div>
</div>
