.catalog-filters {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content;
  height: 100%;
  padding: var(--spacing-x3) var(--spacing-x5) var(--spacing-x6);
  border: 2px solid var(--neutral-900);
  border-radius: var(--radius-md);

  &__body {
    grid-column: 1 / 3;
    margin-block-start: var(--spacing-x4);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x3);
  }

  &__reset-button {
    grid-area: 1 / 2 / 2 / 3;
    height: max-content;
  }
}
