.catalog-filters {
  height: 100%;
  padding: var(--spacing-x3) var(--spacing-x5) var(--spacing-x6);
  border: 2px solid var(--neutral-900);
  border-radius: var(--radius-md);

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x3);
    margin-block-start: var(--spacing-x4);
  }
}
