<article class="card">
  <div class="card__inner">
    <div class="card__face card__face_front">
      <div class="card__image-wrapper">
        <img class="card__image" fill [ngSrc]="imgSrc()" [alt]="name()" />
      </div>

      <div class="card__content">
        <p class="card__role text-sm">{{ role() }}</p>
        <h2 class="card__name text-2xl">{{ name() }}</h2>
      </div>
    </div>

    <div class="card__face card__face_back" aria-label="Card details">
      <div class="card__promo">
        <span class="card__promo-label text-xm"
          >Promo code:

          <strong class="card__promocode text-sm">{{ promoCode() }}</strong>
        </span>
      </div>
      <p class="card__description text-base" [class.card__description--collapsed]="isCollapsed">
        {{ description() }}
      </p>
      @if (isCollapsed) {
        <app-button [variant]="'text'" (click)="isCollapsed = false">Read more... </app-button>
      }
      <app-external-link
        class="card__link"
        [variant]="'text'"
        [href]="linkHref()"
        [icon]="'github'"
        [iconPlacement]="'start'"
      >
        {{ linkHref() }}
      </app-external-link>
    </div>
  </div>
</article>
