@let computedProducts = products();

@if (computedProducts.length > 0) {
  <ul class="catalog-grid">
    @for (product of computedProducts; track product.id) {
      <li class="catalog-grid__item">
        <app-product-card
          [id]="product.id"
          [heading]="product.heading"
          [subheading]="product.subheading"
          [img]="product.img"
          [currentPrice]="product.currentPrice"
          [oldPrice]="product.oldPrice"
          [discount]="product.discount"
          [count]="product.count"
          [sku]="product.sku"
          [detailsLink]="product.id"
          [inCart]="cartService.isInCart(product.sku)"
          [loading]="loading()"
          (addToCart)="handleAddToCart($event)"
        />
      </li>
    }
  </ul>
} @else {
  <app-empty
    class="catalog-grid__empty"
    [title]="_content.emptyState.title"
    [description]="_content.emptyState.description"
  />
}
