@let tracks = _tracks();
@let tracksCount = tracks.length;
@let trackTransform = _trackTransform();
@let computedPerView = perView();
@let computedCurrentIndex = _currentIndex();
@let autoplayButton = _autoplayButton();

<div class="carousel" [attr.data-testid]="_testIds.root" (focusin)="_stopAutoplayOnFocus()">
  <div
    class="carousel__tracks"
    aria-roledescription="carousel"
    [attr.aria-live]="_ariaLive()"
    [attr.data-testid]="_testIds.tracks"
    (mouseenter)="_handleMouseEnter()"
    (mouseleave)="_handleMouseLeave()"
    (touchstart)="_handleTouchStart($event)"
    (touchend)="_handleTouchEnd($event)"
  >
    @if (_withAutoplay()) {
      <div class="carousel__rotation-autoplay" [attr.data-testid]="_testIds.rotationAutoplay">
        <app-icon-button
          [icon]="autoplayButton.icon"
          [label]="autoplayButton.label"
          [size]="'xl'"
          [tooltipColor]="'light'"
          (click)="_toggleAutoplayButton()"
        />
      </div>
    }

    @if (hasSlideControls()) {
      <div class="carousel__prev-button" [attr.data-testid]="_testIds.prevSlideControl">
        <app-icon-button
          [icon]="'keyboard-arrow-left'"
          [size]="'xl'"
          [label]="'Previous slide'"
          [tooltipColor]="'light'"
          (click)="switchPreviousSlide()"
        />
      </div>

      <div class="carousel__next-button" [attr.data-testid]="_testIds.nextSlideControl">
        <app-icon-button
          [icon]="'keyboard-arrow-right'"
          [size]="'xl'"
          [label]="'Next slide'"
          [tooltipColor]="'light'"
          (click)="switchNextSlide()"
        />
      </div>
    }

    @for (track of tracks; track $index; let trackIndex = $index) {
      @let isTrackHidden = trackIndex !== computedCurrentIndex;

      <div
        class="carousel__track"
        role="group"
        aria-roledescription="slide"
        [aria-label]="`${$index + 1} of ${tracksCount}`"
        [aria-hidden]="isTrackHidden"
        [style.transform]="trackTransform"
        [attr.data-testid]="_testIds.track"
      >
        <div
          class="carousel__slides"
          [style.grid-template-columns]="`repeat(${computedPerView}, 1fr)`"
        >
          @for (slide of track; track $index) {
            <div class="carousel__slide" [attr.data-testid]="_testIds.slide">
              <ng-container
                [ngTemplateOutlet]="slideTemplate()"
                [ngTemplateOutletContext]="{
                  $implicit: slide,
                  hidden: isTrackHidden,
                }"
              />
            </div>
          }
        </div>
      </div>
    }
  </div>

  <div class="carousel__picker-controls" role="group" aria-label="Choose slide to display">
    @for (_ of tracks; track $index) {
      <app-picker-control
        [ariaLabel]="`Slide ${$index + 1}`"
        [active]="computedCurrentIndex === $index"
        (click)="_handlePickerControl($index)"
      />
    }
  </div>
</div>
