:host {
  display: block;
  padding: 2rem 3rem;
}

h1 {
  font-size: var(--text-2xl);
  margin-block-end: 2.5rem;
}

.kit-section {
  margin-block-end: 3rem;

  &__title {
    font-size: var(--text-lg);
    font-weight: 600;
    border-block-end: 1px solid var(--neutral-300);
    padding-block-end: 0.5rem;
    margin-block-end: 1.5rem;
  }
}
