<h1 class="ui-kit__title text-6xl">UI Kit</h1>

<app-ui-kit-section [title]="'Colors'">
  <app-colors-demo />
</app-ui-kit-section>

<app-ui-kit-section [title]="'Typography'">
  <app-typography-demo />
</app-ui-kit-section>

<app-ui-kit-section [title]="'Border Radius'">
  <app-border-radius-demo />
</app-ui-kit-section>

<app-ui-kit-section [title]="'Logo'">
  <app-logo-demo />
</app-ui-kit-section>

<app-ui-kit-section [title]="'Icon'">
  <app-icon-demo />
</app-ui-kit-section>

<app-ui-kit-section [title]="'Icon Button'">
  <app-icon-button-demo />
</app-ui-kit-section>

<app-ui-kit-section [title]="'Icon Router Link'">
  <app-icon-router-link-demo />
</app-ui-kit-section>

<app-ui-kit-section [title]="'Icon External Link'">
  <app-icon-external-link-demo />
</app-ui-kit-section>

<app-ui-kit-section [title]="'Empty'">
  <app-empty-demo />
</app-ui-kit-section>

<app-ui-kit-section [title]="'Spin'">
  <app-spin-demo />
</app-ui-kit-section>

<app-ui-kit-section [title]="'Button'">
  <app-button-demo />
</app-ui-kit-section>

<app-ui-kit-section [title]="'Router Link'">
  <app-router-link-demo />
</app-ui-kit-section>

<app-ui-kit-section [title]="'External Link'">
  <app-external-link-demo />
</app-ui-kit-section>

<app-ui-kit-section [title]="'Input'">
  <app-input-demo />
</app-ui-kit-section>

<app-ui-kit-section [title]="'Checkbox'">
  <app-checkbox-demo />
</app-ui-kit-section>

<app-ui-kit-section [title]="'Date Picker'">
  <app-date-picker-demo />
</app-ui-kit-section>

<app-ui-kit-section [title]="'Banner'">
  <app-banner-demo />
</app-ui-kit-section>

<app-ui-kit-section [title]="'Carousel'">
  <app-carousel-demo />
</app-ui-kit-section>
