@let carouselEl = _carouselEl();

<section class="product-list" [attr.data-testid]="_testIds.root">
  <div class="product-list__wrapper container">
    <header class="product-list__header">
      <h2 class="product-list__title text-5xl" [attr.data-testid]="_testIds.title">
        {{ title() }}
      </h2>

      <div class="product-list__nav">
        <app-router-link [routerLink]="`/${_routes.catalog}`" [variant]="'text'" [color]="'dark'">
          {{ _content.viewAllLink }}
        </app-router-link>

        <div class="product-list__carousel-buttons">
          <app-icon-button
            [icon]="'keyboard-arrow-left'"
            [size]="'l'"
            [label]="_content.carousel.previousButtonLabel"
            [disabled]="carouselEl.isFirstSlide()"
            (click)="carouselEl.switchPreviousSlide()"
          />

          <app-icon-button
            [icon]="'keyboard-arrow-right'"
            [size]="'l'"
            [label]="_content.carousel.nextButtonLabel"
            [disabled]="carouselEl.isLastSlide()"
            (click)="carouselEl.switchNextSlide()"
          />
        </div>
      </div>
    </header>

    <app-carousel
      class="product-list__products"
      [slides]="products()"
      [perView]="_perViewCardsCount()"
    >
      <ng-template let-slide let-hidden="hidden">
        <app-product-card
          [id]="slide.id"
          [heading]="slide.heading"
          [subheading]="slide.subheading"
          [img]="slide.img"
          [currentPrice]="slide.currentPrice"
          [oldPrice]="slide.oldPrice"
          [discount]="slide.discount"
          [count]="slide.count"
          [sku]="slide.sku"
          [detailsLink]="`${_routes.catalog}/${slide.id}`"
          [tabIndex]="hidden ? -1 : undefined"
          [sku]="slide.sku"
          [loading]="loading()"
          (addToCart)="handleAddToCart($event)"
        />
      </ng-template>
    </app-carousel>
  </div>
</section>
