@let icons = _icons();
@let sizes = _sizes();

<app-ui-kit-row [title]="'Name'">
  <ul class="icon-external-link-demo__list">
    @for (icon of icons; track $index) {
      <li class="icon-external-link-demo__list-item">
        <app-icon-external-link [href]="'#'" [icon]="icon" [label]="'Icon external link'" />

        <span>{{ icon }}</span>
      </li>
    }
  </ul>
</app-ui-kit-row>

<app-ui-kit-row [title]="'Size'">
  <ul class="icon-external-link-demo__list">
    @for (size of sizes; track $index) {
      <li class="icon-external-link-demo__list-item">
        <app-icon-external-link
          [href]="'#'"
          [icon]="'github'"
          [size]="size"
          [label]="'Icon external link'"
        />

        <span>{{ size }}</span>
      </li>
    }
  </ul>
</app-ui-kit-row>
