@use 'assets/styles/mixins' as mixins;

.about-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-x8);
  min-height: clamp(260px, 50vw, 520px);
  background-image: url('/assets/images/about-banner.png');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 100px;

  .about-title {
    color: var(--neutral-100);
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-x5);

  @include mixins.media(m) {
    padding: 0 var(--spacing-x3);
  }
}

.about-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: space-between;
  gap: var(--spacing-x5);
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 100px;
}

.company-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x6);
  margin-bottom: 100px;
}
