<app-ui-kit-row [title]="'Size Large'" [direction]="'col'">
  <div class="router-link-demo__wrapper">
    <app-router-link class="router-link-demo__button" [routerLink]="'/'" [size]="'l'"
      >Contained</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [size]="'l'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Contained</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [size]="'l'"
      [icon]="'arrow-forward'"
      >Contained</app-router-link
    >
  </div>

  <div class="router-link-demo__wrapper">
    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'outlined'"
      [size]="'l'"
      >Outlined</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'outlined'"
      [size]="'l'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Outlined</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'outlined'"
      [size]="'l'"
      [icon]="'arrow-forward'"
      >Outlined</app-router-link
    >
  </div>

  <div class="router-link-demo__wrapper">
    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'text'"
      [size]="'l'"
      >Text</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'text'"
      [size]="'l'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Text</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'text'"
      [size]="'l'"
      [icon]="'arrow-forward'"
      >Text</app-router-link
    >
  </div>
</app-ui-kit-row>

<app-ui-kit-row [title]="'Size Medium'" [direction]="'col'">
  <div class="router-link-demo__wrapper">
    <app-router-link class="router-link-demo__button" [routerLink]="'/'">Contained</app-router-link>

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Contained</app-router-link
    >

    <app-router-link class="router-link-demo__button" [routerLink]="'/'" [icon]="'arrow-forward'"
      >Contained</app-router-link
    >
  </div>

  <div class="router-link-demo__wrapper">
    <app-router-link class="router-link-demo__button" [routerLink]="'/'" [variant]="'outlined'"
      >Outlined</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'outlined'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Outlined</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'outlined'"
      [icon]="'arrow-forward'"
      >Outlined</app-router-link
    >
  </div>

  <div class="router-link-demo__wrapper">
    <app-router-link class="router-link-demo__button" [routerLink]="'/'" [variant]="'text'"
      >Text</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'text'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Text</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'text'"
      [icon]="'arrow-forward'"
      >Text</app-router-link
    >
  </div>
</app-ui-kit-row>

<app-ui-kit-row [title]="'Size Small'" [direction]="'col'">
  <div class="router-link-demo__wrapper">
    <app-router-link class="router-link-demo__button" [routerLink]="'/'" [size]="'s'"
      >Contained</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [size]="'s'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Contained</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [size]="'s'"
      [icon]="'arrow-forward'"
      >Contained</app-router-link
    >
  </div>

  <div class="router-link-demo__wrapper">
    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'outlined'"
      [size]="'s'"
      >Outlined</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'outlined'"
      [size]="'s'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Outlined</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'outlined'"
      [size]="'s'"
      [icon]="'arrow-forward'"
      >Outlined</app-router-link
    >
  </div>

  <div class="router-link-demo__wrapper">
    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'text'"
      [size]="'s'"
      >Text</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'text'"
      [size]="'s'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Text</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'text'"
      [size]="'s'"
      [icon]="'arrow-forward'"
      >Text</app-router-link
    >
  </div>
</app-ui-kit-row>

<app-ui-kit-row [title]="'Color Dark'" [direction]="'col'">
  <div class="router-link-demo__wrapper">
    <app-router-link class="router-link-demo__button" [routerLink]="'/'" [color]="'dark'"
      >Contained</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [color]="'dark'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Contained</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [color]="'dark'"
      [icon]="'arrow-forward'"
      >Contained</app-router-link
    >
  </div>

  <div class="router-link-demo__wrapper">
    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'outlined'"
      [color]="'dark'"
      >Outlined</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'outlined'"
      [color]="'dark'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Outlined</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'outlined'"
      [color]="'dark'"
      [icon]="'arrow-forward'"
      >Outlined</app-router-link
    >
  </div>

  <div class="router-link-demo__wrapper">
    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'text'"
      [color]="'dark'"
      >Text</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'text'"
      [color]="'dark'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Text</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'text'"
      [color]="'dark'"
      [icon]="'arrow-forward'"
      >Text</app-router-link
    >
  </div>
</app-ui-kit-row>

<app-ui-kit-row [title]="'Color Light'" [direction]="'col'" [color]="'dark'">
  <div class="router-link-demo__wrapper">
    <app-router-link class="router-link-demo__button" [routerLink]="'/'" [color]="'light'"
      >Contained</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [color]="'light'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Contained</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [color]="'light'"
      [icon]="'arrow-forward'"
      >Contained</app-router-link
    >
  </div>

  <div class="router-link-demo__wrapper">
    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'outlined'"
      [color]="'light'"
      >Outlined</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'outlined'"
      [color]="'light'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Outlined</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'outlined'"
      [color]="'light'"
      [icon]="'arrow-forward'"
      >Outlined</app-router-link
    >
  </div>

  <div class="router-link-demo__wrapper">
    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'text'"
      [color]="'light'"
      >Text</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'text'"
      [color]="'light'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Text</app-router-link
    >

    <app-router-link
      class="router-link-demo__button"
      [routerLink]="'/'"
      [variant]="'text'"
      [color]="'light'"
      [icon]="'arrow-forward'"
      >Text</app-router-link
    >
  </div>
</app-ui-kit-row>
