@let productsSkeleton = _productsSkeleton();
@let isPageLoading = _isPageLoading();

<app-hero [carouselBanners]="_hero" />

<app-product-list
  [title]="_content.productLists.new.title"
  [products]="isPageLoading ? productsSkeleton : _newProducts()"
  [loading]="isPageLoading"
/>

<app-promo-section
  [title]="_promo.title"
  [subtitle]="_promo.subtitle"
  [description]="_promo.description"
  [imgSrc]="_promo.img"
  [link]="_promo.link"
/>

<app-product-list
  [title]="_content.productLists.trending.title"
  [products]="isPageLoading ? productsSkeleton : _trendingProducts()"
  [loading]="isPageLoading"
/>
