<app-ui-kit-row [title]="'Size Large'" [direction]="'col'">
  <div class="external-link-demo__wrapper">
    <app-external-link class="external-link-demo__button" [href]="'#'" [size]="'l'"
      >Contained</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [size]="'l'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Contained</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [size]="'l'"
      [icon]="'arrow-forward'"
      >Contained</app-external-link
    >
  </div>

  <div class="external-link-demo__wrapper">
    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'outlined'"
      [size]="'l'"
      >Outlined</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'outlined'"
      [size]="'l'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Outlined</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'outlined'"
      [size]="'l'"
      [icon]="'arrow-forward'"
      >Outlined</app-external-link
    >
  </div>

  <div class="external-link-demo__wrapper">
    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'text'"
      [size]="'l'"
      >Text</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'text'"
      [size]="'l'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Text</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'text'"
      [size]="'l'"
      [icon]="'arrow-forward'"
      >Text</app-external-link
    >
  </div>
</app-ui-kit-row>

<app-ui-kit-row [title]="'Size Medium'" [direction]="'col'">
  <div class="external-link-demo__wrapper">
    <app-external-link class="external-link-demo__button" [href]="'#'">Contained</app-external-link>

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Contained</app-external-link
    >

    <app-external-link class="external-link-demo__button" [href]="'#'" [icon]="'arrow-forward'"
      >Contained</app-external-link
    >
  </div>

  <div class="external-link-demo__wrapper">
    <app-external-link class="external-link-demo__button" [href]="'#'" [variant]="'outlined'"
      >Outlined</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'outlined'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Outlined</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'outlined'"
      [icon]="'arrow-forward'"
      >Outlined</app-external-link
    >
  </div>

  <div class="external-link-demo__wrapper">
    <app-external-link class="external-link-demo__button" [href]="'#'" [variant]="'text'"
      >Text</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'text'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Text</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'text'"
      [icon]="'arrow-forward'"
      >Text</app-external-link
    >
  </div>
</app-ui-kit-row>

<app-ui-kit-row [title]="'Size Small'" [direction]="'col'">
  <div class="external-link-demo__wrapper">
    <app-external-link class="external-link-demo__button" [href]="'#'" [size]="'s'"
      >Contained</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [size]="'s'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Contained</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [size]="'s'"
      [icon]="'arrow-forward'"
      >Contained</app-external-link
    >
  </div>

  <div class="external-link-demo__wrapper">
    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'outlined'"
      [size]="'s'"
      >Outlined</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'outlined'"
      [size]="'s'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Outlined</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'outlined'"
      [size]="'s'"
      [icon]="'arrow-forward'"
      >Outlined</app-external-link
    >
  </div>

  <div class="external-link-demo__wrapper">
    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'text'"
      [size]="'s'"
      >Text</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'text'"
      [size]="'s'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Text</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'text'"
      [size]="'s'"
      [icon]="'arrow-forward'"
      >Text</app-external-link
    >
  </div>
</app-ui-kit-row>

<app-ui-kit-row [title]="'Color Dark'" [direction]="'col'">
  <div class="external-link-demo__wrapper">
    <app-external-link class="external-link-demo__button" [href]="'#'" [color]="'dark'"
      >Contained</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [color]="'dark'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Contained</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [color]="'dark'"
      [icon]="'arrow-forward'"
      >Contained</app-external-link
    >
  </div>

  <div class="external-link-demo__wrapper">
    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'outlined'"
      [color]="'dark'"
      >Outlined</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'outlined'"
      [color]="'dark'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Outlined</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'outlined'"
      [color]="'dark'"
      [icon]="'arrow-forward'"
      >Outlined</app-external-link
    >
  </div>

  <div class="external-link-demo__wrapper">
    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'text'"
      [color]="'dark'"
      >Text</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'text'"
      [color]="'dark'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Text</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'text'"
      [color]="'dark'"
      [icon]="'arrow-forward'"
      >Text</app-external-link
    >
  </div>
</app-ui-kit-row>

<app-ui-kit-row [title]="'Color Light'" [direction]="'col'" [color]="'dark'">
  <div class="external-link-demo__wrapper">
    <app-external-link class="external-link-demo__button" [href]="'#'" [color]="'light'"
      >Contained</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [color]="'light'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Contained</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [color]="'light'"
      [icon]="'arrow-forward'"
      >Contained</app-external-link
    >
  </div>

  <div class="external-link-demo__wrapper">
    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'outlined'"
      [color]="'light'"
      >Outlined</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'outlined'"
      [color]="'light'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Outlined</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'outlined'"
      [color]="'light'"
      [icon]="'arrow-forward'"
      >Outlined</app-external-link
    >
  </div>

  <div class="external-link-demo__wrapper">
    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'text'"
      [color]="'light'"
      >Text</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'text'"
      [color]="'light'"
      [icon]="'arrow-back'"
      [iconPlacement]="'start'"
      >Text</app-external-link
    >

    <app-external-link
      class="external-link-demo__button"
      [href]="'#'"
      [variant]="'text'"
      [color]="'light'"
      [icon]="'arrow-forward'"
      >Text</app-external-link
    >
  </div>
</app-ui-kit-row>
