.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--neutral-700);

  &__title {
    margin-block-start: var(--spacing-x1);
  }

  &__description {
    margin-block-start: var(--spacing-x1);
  }
}
