:root {
  --neutral-900: #111;
  --neutral-700: #444;
  --neutral-500: #888;
  --neutral-300: #ddd;
  --neutral-100: #fafafa;

  --brand-900: #5c0e10;
  --brand-700: #8a1619;
  --brand-600: #ca2020;
  --brand-500: #e62429; // primary brand
  --brand-300: #f07c7f;
  --brand-200: #f5a7a9;
  --brand-100: #fad3d4;

  --warning-700: #b45309;
  --warning-500: #f59e0b;
  --warning-300: #fde68a;

  --info-700: #1d4ed8;
  --info-500: #3b82f6;
  --info-300: #93c5fd;

  --success-700: #21b91c;
  --success-500: #29e723;
  --success-300: #54ec4f;

  --error: #ef4444;
  --error-300: #fca5a5;
  --error-500: var(--error);
  --error-700: #b91c1c;
}
