:root {
  --color-border: var(--neutral-300);
  --color-border-hover: var(--neutral-500);
  --color-border-focus: var(--neutral-900);
  --color-border-error: var(--error);
  --color-border-warning: var(--warning-500);

  --color-bg-surface: #fff;
  --color-bg-disabled: var(--neutral-100);

  --color-text: var(--neutral-900);
  --color-text-muted: var(--neutral-700);
  --color-text-placeholder: var(--neutral-500);
  --color-text-disabled: var(--neutral-500);

  --form-control-height-s: 32px;
  --form-control-height-m: 40px;
  --form-control-height-l: 48px;

  --form-control-padding-x-s: var(--spacing-x2);
  --form-control-padding-x-m: var(--spacing-x3);
  --form-control-padding-x-l: var(--spacing-x4);
}
